[Unit]
Description=Backup mount

[Mount]
What=/dev/disk/by-partuuid/36fa5481-e318-44e5-ae1d-1984f40b310c
Where=/media/backup
Type=ext4
Options=defaults

[Install]
WantedBy=multi-user.target
